{% extends 'base.htm' %} {% load static %} {% load crispy_forms_tags %} 
{% block title %} About {% endblock title %} {% block content %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
<div class="hero">
  <div class="h1 center">About</div>
</div>

<div class="container">
  <div class="pt-5">
    <div class="row pb-5">
      <div class="col-8 p-2">
        <div class="h2 font-weight-bold">Our Story</div>
        <p class="pt-2 text-justify font-weight-light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
          consequat consequat enim, non auctor massa ultrices non. Morbi sed
          odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci
          varius natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Maecenas varius egestas diam, eu sodales metus
          scelerisque congue. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu
          arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum eget,
          dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec
          augue. Suspendisse potenti. Proin ut est diam. Donec condimentum
          euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.
        </p>
        <p class="pt-2 text-justify font-weight-light">
          Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce
          eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla
          turpis in vehicula vehicula. Pellentesque congue ac orci ut gravida.
          Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu
          sodales lectus sagittis. Etiam pellentesque, magna vel dictum rutrum,
          neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum,
          turpis ut commodo efficitur, quam velit convallis ipsum, et maximus
          enim ligula ac ligula.
        </p>
        <p class="pt-2 text-justify font-weight-light">
          Any questions? Let us know in store at 8th floor, 379 Hudson St, New
          York, NY 10018 or call us on (+1) 96 716 6879
        </p>
      </div>
      <div class="col-4 p-4">
          <img class="img" src="{% static 'images/waneella.jpg' %}" alt="">
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="row">
      <div class="col-4">
        <img class="img" src="{% static 'images/127.jpg' %}" alt="">
      </div>
      <div class="col-8">
        <div class="h2 font-weight-bold">Our Mission</div>
        <p class="pt-2 p-1 text-justify font-weight-light">
          Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus
          dignissim risus, sed consectetur erat. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas.
          Nullam maximus mauris sit amet odio convallis, in pharetra magna
          gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae
          viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet
          mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut
          mauris ligula, volutpat in sodales in, porta non odio. Pellentesque
          tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin
          at gravida ante. Mauris auctor purus at lacus maximus euismod.
          Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero
          iaculis.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
