{% extends 'base.htm' %}

{% block title %}
    delete post
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class="messages">
                    <div class="harder">
                        {{message}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="mt-5">
    {% if not messages %}
        <div class="card p-5">
            <h3>Delete Post?</h3>
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete post?</p>
                <button type="submit" class="btn btn-danger">Yes</button>
                <a href="{% url 'blogs:main-post-view'%}" class="btn btn-secondary">cancel</a>
            </form>
        </div>
    {% endif %}
</div>
</div>
{% endblock content %}