.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-32 { font-size: 32px; }
.material-icons-outlined.md-48 { font-size: 48px; }

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
  }

a {
  color: black;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}